@model IEnumerable<Grupp23_CV.Models.Project>

<h2>Alla Projekt</h2>

<table class="table">
    <thead>
        <tr>
            <th>Projektnamn</th>
            <th>Beskrivning</th>
            @if (ViewBag.IsAuthenticated)
            {
                <th>Medlemmar i projekt</th>
                <th>Delta i projekt</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                @if (ViewBag.IsAuthenticated)
                {
                    <td>
                        @foreach (var userProject in project.UserProjects)
                        {
                            <span>@userProject.User.UserName</span>

                            <br />
                        }
                    </td>
                    <td>
                        <form asp-action="JoinProject" method="post">
                            <input type="hidden" name="id" value="@project.ProjectId" />
                            <input type="hidden" name="redirectTo" value="AllProjects" />
                            <button type="submit" class="btn btn-success">Gå med i projekt</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

