@model Grupp23_CV.Models.ChangePasswordViewModel

<form asp-action="ChangePassword" method="post">
    <div class="form-group row mb-3">
        <div class="offset-sm-2 col-sm-4">
            <label asp-for="NuvarandeLosenord"></label>
            <input asp-for="NuvarandeLosenord" type="password" class="form-control" />
            <span asp-validation-for="NuvarandeLosenord" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="offset-sm-2 col-sm-4">
            <label asp-for="NyttLosenord"></label>
            <input asp-for="NyttLosenord" type="password" class="form-control" />
            <span asp-validation-for="NyttLosenord" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="offset-sm-2 col-sm-4">
            <label asp-for="BekraftaLosenord"></label>
            <input asp-for="BekraftaLosenord" type="password" class="form-control" />
            <span asp-validation-for="BekraftaLosenord" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-2 col-sm-4 text-end">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>

