<div class="alert alert-success">
    <p>Ditt lösenord har ändrats!</p>
</div>

<div class="mt-3 text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-link text-secondary">
        Tillbaka till Startsidan
    </a>
</div>
