<div class="alert alert-success">
    <p>Ditt lösenord har ändrats!</p>
    <p>Varsågod att logga in igen med nya lösenordet</p>
</div>

<a asp-action="Login" asp-controller="Account" class="btn btn-primary">Till Inloggning</a>
