@model List<int>

<h2>Bekräfta radering</h2>

<p>Är du säker på att du vill radera de valda meddelandena?</p>

<form method="post" asp-action="DeleteMessages" asp-controller="Message">
    <input type="hidden" name="SelectedMessages" value="@string.Join(",", Model)" /> <!--Skickar med valda messageId separarerade med kommatecken-->
    <button type="submit" class="btn btn-danger">Bekräfta radering</button>
</form>

<form method="post" asp-action="CancelDelete" asp-controller="Message">
    <button type="submit" class="btn btn-secondary">Avbryt</button>
</form>