@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till CV!</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Välkommen @User.Identity.Name!</p>

    }
    <p>Hantera dina projekt och ditt CV med vår applikation.</p>
    <a asp-controller="CV" asp-action="privateCV" class="btn btn-primary">Se privata användares CV</a>
    <a asp-controller="CV" asp-action="Index" class="btn btn-secondary">Se användares CV</a>
    <a asp-controller="Project" asp-action="Index" class="btn btn-secondary">Se alla projekt</a>
    </div>