@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till CV!</h1>
    <p>Hantera dina projekt och ditt CV med vår applikation.</p>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Välkommen @User.Identity.Name!</p>
        <a asp-controller="CV" asp-action="privateCV" class="btn btn-primary">Se privata användares CV</a>
        <a asp-controller="CV" asp-action="Index" class="btn btn-secondary">Se användares CV</a>
    }
    @*  else
    {
        <p>
            <a asp-controller="Account" asp-action="LogIn" class="btn btn-primary">Logga in</a>
            eller
            <a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Registrera dig</a>
            för att börja använda applikationen.
        </p>
    } *@
</div>
